@using CarInsurance.Models
@model List<Insuree>

<div class="row m-3">
    <div class="card col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Auto Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var user in Model)
            {
                using (Html.BeginForm("Index", "Admin", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@user.Id" />
                    <div class="col-3">
                        <div class="row-mb3">
                            @user.FirstName
                        </div>
                        <div class="row-mb3">
                            @user.LastName
                        </div>
                        <div class="row-mb3">
                            @user.EmailAddress
                        </div>
                        <div class="row-mb3">
                            @user.Quote
                        </div>
                    </div>
                }

            }

        </div>
    </div>
</div>
